NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_SUPABASE_URL=https://nofqqimdooeelqnimhdn.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5vZnFxaW1kb29lZWxxbmltaGRuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODY5NTU4MDIsImV4cCI6MjEwMjUzMTgwMn0.kiKD-HD69qlyBvm-7-cwsDoM2RvO5B6Hk4BDd_QBv7A
